body{
    background-color:#000;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container{
    background-color:#ffffff;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
.container input{
    margin:10px;
    padding:5px;
}
.btn-login{
    border:none;
    height:35px;
    width:63vh;
    margin:10px;
    border-radius:5px;

}
.btn-new-account{
    margin-bottom:20px;
    border:none;
    height:35px;
    width:40vh;
    border-radius:5px;
}
.link-recover{
    border:none;
    height:30px;
    font-size:12px
}
.divider-container{
    width:226px;
}